{% extends 'email_campaign/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .campaign-card {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .campaign-card:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    .create-campaign-button {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'email_campaign:campaign-create' %}" class="btn btn-primary create-campaign-button">Create Campaign</a>
        </div>
    </div>

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="campaign-card">
                <h4 class="card-title">{{ object.subject }}</h4>
                <p class="card-text">Frequency - {{ object.frequency }}</p>
                <p class="card-text">Send Time - {{ object.send_time }}</p>
                <p class="card-text">Owner {{ object.mail_owner }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'email_campaign:campaign-detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                    {% if object.mail_status == 'Created'%}
                    <small class="text-primary">{{ object.mail_status }}</small>
                    {% elif object.mail_status == 'Started' %}
                    <small class="text-success">{{ object.mail_status }}</small>
                    {% else %}
                    <small class="text-danger">{{ object.mail_status }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
